---
import Link from "@components/Link.astro";

type NavLink = {
  href: string;
  text: string;
  ariaLabel: string;
};

const navLinks: NavLink[] = [
  { href: "/", text: "Startsida", ariaLabel: "Gå till startsidan" },
  {
    href: "/services",
    text: "Tjänster",
    ariaLabel: "Läs om våra tjänster",
  },
  { href: "/about", text: "Om Oss", ariaLabel: "Lär känna oss" },
  {
    href: "/contact-us",
    text: "Kontakt",
    ariaLabel: "Kontakta oss för frågor och information",
  },
];
---

<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
  <nav class="grid grid-flow-col gap-4">
    {navLinks.map((linkProps) => <Link {...linkProps} />)}
  </nav>
  <aside>
    <p>
      &copy; 2023 <strong>Connectas AB</strong> Alla rättigheter förbehållna.
    </p>
  </aside>
</footer>
