<div class="container">
  <footer class="py-5">
    <div
      class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"
    >
      <p>
        &copy; 2023 <strong>Connectas AB</strong><br />Alla rättigheter
        förbehållna.
      </p>
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
          <a href="/" class="nav-link px-2 text-body-secondary">Hem</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link px-2 text-body-secondary">Om oss</a>
        </li>
        <li class="nav-item">
          <a href="/services" class="nav-link px-2 text-body-secondary"
            >Tjänster</a
          >
        </li>
      </ul>
    </div>
  </footer>
</div>
