---
import Link from "@components/Link.astro";

// Define NavLink type and navLinks array
type NavLink = {
  href: string;
  text: string;
  ariaLabel: string;
};

const navLinks: NavLink[] = [
  { href: "/", text: "Startsida", ariaLabel: "Gå till startsidan" },
  {
    href: "/services",
    text: "Tjänster",
    ariaLabel: "Läs om våra tjänster",
  },
  { href: "/about", text: "Om Oss", ariaLabel: "Lär känna oss" },
  {
    href: "/contact-us",
    text: "Kontakt",
    ariaLabel: "Kontakta oss för frågor och information",
  },
];
---

<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="/" aria-label="Loggan för företaget"
      >Connectas AB</a
    >
  </div>
  <div class="flex-none hidden lg:block">
    <ul class="menu menu-horizontal px-1">
      {
        navLinks.map((linkProps) => (
          <li>
            <Link {...linkProps} />
          </li>
        ))
      }
    </ul>
  </div>
  <div class="flex-none lg:hidden">
    <button
      class="btn btn-square btn-ghost"
      onclick="toggleDropdown()"
      aria-label="Toggle menu"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"></path></svg
      >
    </button>
  </div>
</div>

<div id="navbarDropdown" class="hidden lg:hidden">
  <ul class="menu menu-vertical p-2">
    {
      navLinks.map((linkProps) => (
        <li>
          <Link {...linkProps} />
        </li>
      ))
    }
  </ul>
</div>

<script is:inline>
  function toggleDropdown() {
    const dropdown = document.getElementById("navbarDropdown");

    if (dropdown) {
      dropdown.classList.toggle("hidden");
    }
  }
</script>

<style></style>
